/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/app/public
/database/database.sqlite
/.env
/.env.backup
/.env.local
/.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet/
/.idea/
/.vscode/
/.DS_Store
